/* Your Website Styles */

h3, h4, h5 {
	font-family: 'Raleway', sans-serif;
}

h3 {
	font-weight: bold;
	font-size: 1.5em;
}

h4 {
	color: orange;
	font-size: 1.25em;
}

h5 {
	font-weight: bold;
	font-size: .75em;
}




/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}
